.fond1{
    position: fixed;
    top : 0;
    bottom: 0;
    left:0;
    align-items: center;
    display:flex;
    z-index: 50;
    opacity: 1;
    
    
   
    
    
}

.pla{
    display: block;
   margin-top: 10000px;
}




.titrekenzo{
    top: 0px;
    width : 99%;
    position: absolute;
    z-index: 9999;
    display: inline;
    opacity:1;
    
    

